## 6.5.2 Create Heatmaps for Weather Parameters

In [1]:
#Import the dependencies
import pandas as pd
import gmaps
import requests

#Import the API key
from config import g_key

In [2]:
#Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv("Weather_Data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ballina,AU,2021-02-08 02:26:06,-28.8667,153.5667,80.60,65,75,16.11
1,1,Tuktoyaktuk,CA,2021-02-08 02:26:07,69.4541,-133.0374,-29.20,75,40,9.22
2,2,Port Alfred,ZA,2021-02-08 02:26:07,-33.5906,26.8910,63.00,94,95,4.00
3,3,Esperance,AU,2021-02-08 02:21:49,-33.8667,121.9000,82.40,51,0,24.16
4,4,Changping,CN,2021-02-08 02:26:07,40.2186,116.2197,37.99,44,0,2.24

In [3]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

### Create a Maximum Temperature Heatmap

In [4]:
#Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [5]:
#Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
#Heatmap of temperature
#Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

#Get the maximum temperature
max_temp = city_data_df["Max Temp"]

#Assign the figure variable
fig = gmaps.figure()

#Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

#Add the heatmap layer
fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

### Adjust Heatmap Zoom, Intensity, and Point Radius

In [7]:
#Heatmap of temperature
#Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

#Get the maximum temperature
max_temp = city_data_df["Max Temp"]

#Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

#Add the heatmap layer
fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

### Create a Percent Humidity Heatmap

In [8]:
#Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

### Create a Percent Cloudiness Heatmap

In [9]:
#Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

### Create a Wind Speed Heatmap

In [10]:
#Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

## 6.5.3 Get Vacation Criteria

In [11]:
#Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
#Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ballina,AU,2021-02-08 02:26:06,-28.8667,153.5667,80.60,65,75,16.11
3,3,Esperance,AU,2021-02-08 02:21:49,-33.8667,121.9000,82.40,51,0,24.16
6,6,Sumenep,ID,2021-02-08 02:25:57,-7.0167,113.8667,81.75,79,100,12.95
10,10,Bambous Virieux,MU,2021-02-08 02:21:42,-20.3428,57.7575,79.00,78,40,8.05
11,11,Rikitea,PF,2021-02-08 02:23:22,-23.1203,-134.9692,77.49,71,59,13.18
13,13,Sibolga,ID,2021-02-08 02:26:08,1.7427,98.7792,82.60,64,100,1.63
14,14,Vaini,TO,2021-02-08 02:26:09,-21.2000,-175.2000,77.00,94,90,14.97
18,18,Atuona,PF,2021-02-08 02:26:09,-9.8000,-139.0333,79.34,74,22,19.44
19,19,Road Town,VG,2021-02-08 02:26:10,18.4167,-64.6167,77.00,78,20,5.75
25,25,Maceio,BR,2021-02-08 02:25:00,-9.6658,-35.7353,75.20,88,40,2.30

In [13]:
preferred_cities_df.count()

City_ID       141
City          141
Country       141
Date          141
Lat           141
Lng           141
Max Temp      141
Humidity      141
Cloudiness    141
Wind Speed    141
dtype: int64

## 6.5.4 Map Vacation Criteria

In [14]:
#Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0           Ballina      AU     80.60 -28.8667  153.5667
3         Esperance      AU     82.40 -33.8667  121.9000
6           Sumenep      ID     81.75  -7.0167  113.8667
10  Bambous Virieux      MU     79.00 -20.3428   57.7575
11          Rikitea      PF     77.49 -23.1203 -134.9692
13          Sibolga      ID     82.60   1.7427   98.7792
14            Vaini      TO     77.00 -21.2000 -175.2000
18           Atuona      PF     79.34  -9.8000 -139.0333
19        Road Town      VG     77.00  18.4167  -64.6167
25           Maceio      BR     75.20  -9.6658  -35.7353

### Retrieve Hotels from a Nearby Search

In [15]:
#Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

### Iterate Through hotel_df DataFrame

In [16]:
#Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]

    #Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"

    #Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    #Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    
    #Grab the first hotel from the results# Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Ballina,AU,80.60,-28.8667,153.5667,Ramada Hotel & Suites by Wyndham Ballina Byron
3,Esperance,AU,82.40,-33.8667,121.9000,Hospitality Esperance
6,Sumenep,ID,81.75,-7.0167,113.8667,OYO 3271 Homestay Pandian
10,Bambous Virieux,MU,79.00,-20.3428,57.7575,Casa Tia Villa
11,Rikitea,PF,77.49,-23.1203,-134.9692,Pension Maro'i
13,Sibolga,ID,82.60,1.7427,98.7792,Hotel Syariah CN Darussalam
14,Vaini,TO,77.00,-21.2000,-175.2000,Keleti Beach Resort
18,Atuona,PF,79.34,-9.8000,-139.0333,Villa Enata
19,Road Town,VG,77.00,18.4167,-64.6167,"ZINGARA 76ft Catamaran, full crew-all included"
25,Maceio,BR,75.20,-9.6658,-35.7353,Hotel Ponta Verde Maceió

### Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [18]:
#Add a heatmap of temperature for the vacation spots and marker for each city
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

#Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
#Add a heatmap of temperature for the vacation spots and a pop-up marker for each city
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))